body{
    font-family: "Poppins";
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 150px 100px 10em;
    justify-content: center;
}

#ueberschriftContainer{
    display: flex;
    justify-content: center;
    grid-column: 2;
    grid-row: 1;
}

#hinzufuegenContainer{
    display: flex;
    grid-column: 2;
    grid-row: 2;
    justify-content: center;
}

#itemContainer{
    grid-column: 2;
    grid-row: 3;
}

#todoItems{
    display: flex;
    flex-direction: column;
}

.active{
    background-color: coral;
}

#todoHinzufuegenInput{
    border-radius: 10px;
    height: 30px;
    width: 300px;
    text-decoration: none;
    border-style: solid;
    border-color: coral;
    border-width: 2px;
    margin-right: 20px;
    text-align: center;
}

#todoHinzufuegenInput,#hinzufuegenButton:focus{
    outline: none;
}

#hinzufuegenButton:hover{
   background-color: crimson;
   color: white;
}

#hinzufuegenButton{
    border-radius:40px;
    height: 35px;
    width: 100px;
    border-style: solid;
    border-color: black;
    background-color: coral;
    border-width: 1px;
}

#hinzufuegenButton:hover{
    cursor: pointer;
}

::placeholder { 
    color: black;
    opacity: 0.6;
    text-align: center;
  }

  .done{
      text-decoration: transparent;
  }